body {
    background-color: orange;

}

img {


    width: 347.5px;
    padding-inline-start: 0px;


}

a:hover {
    background-color: brown;
}

p::after{
    content: '***********';
}

h2:hover {
    background-color: darkgreen;
}

p::first-letter{
    font-size: x-large;
}



.button {
    background-color: rgb(255, 119, 15);
    border-bottom-color: rgb(255, 119, 15);
    font-size: 13.68;
    fill: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: raleway;
    font-style: normal;
    font-weight: 400;
    height: 45.6875px;
    border-top-style: solid;
    line-height: 13.68;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-style: solid;
    border-right-style: solid;
    border-left: color rgb(255, 119, 15);
    border-right: color rgb(255, 255, 255);
    box-sizing: border-box;
    text-decoration-color: rgb(255, 255, 255);
    text-align: center;
    width: 201.484;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
    text-decoration-thickness: auto;
    transition-property: transform;
    border-top-color: rgb(255, 119, 15);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition-behavior: normal;
    border-top-left-radius: 30;
    border-bottom-right-radius: 30;
    box-shadow: none;
    transition-delay: 0px;
    text-size-adjust: 100%;
    text-decoration-style: solid;
    padding-top: 16px;
    padding-right: 40px;
    padding-bottom: 16px;
    padding-left: 40px;
    border-left-width: 0px;
    border-right-width: 0px;
    overflow-wrap: break-word;
    text-decoration-line: none;
    border-radius: 999px;

}


h2 {
    box-sizing: border-box;
    color: black;
    display: inline;
    font-size: 40px;
    font-style: normal;
    font-family: berkshire swash;
    font-weight: 400;
    line-height: 52px;
    overflow-wrap: break-word;
    text-align: left;
    text-size-adjust: 100%;
    width: auto;

}

h3 {
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: black;
    border-left-style: none;
    border-left-width: opx;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    clear: both;
    color: black;
    display: block;
    font-family: raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    height: 62.4062px;
    line-height: 31.2px;
    margin-block-end: 9px;
    margin-block-start: 0px;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: black;
    outline-style: none;
    outline-width: 0px;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    text-size-adjust: 100px;
    unicode-bidi: isolate;
    width: 347.5;

}